$ancho: 200px;
$alto: 200px;

%cajita-personalizada{
    border: 1px solid red;
    padding: 10px;
}

@mixin valores($fontsize,$color) {
    font-size: $fontsize;
    background-color: $color;
}

div{
    @include valores(40px,bisque);
    @extend %cajita-personalizada;
    height: $alto;
    width: $ancho;
    margin: 5px;
    a{
        color: black;
        &:hover{
            color: blueviolet;
        }
    }
}
